.create-screen {
  width: 393px;
  height: 852px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  color: #474A52;
  margin-top: 10px;
}

.icon-bar {
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 393px;
  height: 40px;
  gap: 9px;
  margin-top: 56px;
  margin-bottom: 20px;
}

.icon-img {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-img img {
  width: max-content;
  height: max-content;
  object-fit: contain;
}

@media (max-width: 393px) {
  .icon-img {
    width: 60px; 
    height: 60px; 
  }
  .search-button {
    width: 60px; 
    height: 60px; 
  }
}

.main-search-container {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 33px;
  border: 1px solid #D9D9D9;
  border-radius: 9999px;
  gap: 10px;
}

.search-input {
  width: 147px;
  height: 16px;
  order: 0;
  border: #F1F2F3;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 1px;
  margin-right: 14px;
  background: transparent;
  width: 31px;
  height: 31px;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 100%;
  height: 100%;
}

.layout1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 15px;
  gap: 16px;
  position: relative;
  width: 346px;
  margin: 10px;
  height: 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
}

.layout2 {
  display: flex; /* flexbox를 사용하여 자식 요소를 수평으로 배치 */
  flex-direction: row; /* 수평 방향으로 배치 */
  justify-content: flex-start; 
  align-items: center; /* 수직 중앙 정렬 */
  width: 393px; 
  height: 150px;
  background: #F9F9F9; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 하단 여백 */
}

.layout2-left {
  width: 30%; /* 이미지 영역의 너비를 줄입니다. */
  display: flex;
  justify-content: left; /* 이미지 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.layout2-image {
  max-height: 80%; /* 이미지의 최대 높이를 줄입니다. */
  width: auto; /* 자동 너비 조정 */
  object-fit: cover; 
}

.layout2-right {
  width: 50%; /* 나머지 영역 너비를 증가시킵니다. */
  padding-left: 10px; 
  text-align: left;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 세로 중앙 정렬 */
}


.icon-grid {
  display: flex; /* 아이콘을 수평으로 나열 */
  gap: 10px; /* 아이콘 사이의 간격 */
}

.icon-grid .icon {
  width: auto;
  height: 35px;
  cursor: pointer;
}

.icon.selected {
  background-color: #73B077;
  color: white;
  font-weight: bold;
}

.icon-grid.p {
  font-size: 11px;
}

.layout3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px 20px;
  gap: 10px;
  margin-top: 10px;
  position: relative;
  width: 346px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;  
}

.layout3 p {
  margin: 0px;
}

.layout3-double-set {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 20px;
}

.layout3-text-icons-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 48%;
  height: 60px;  
}


.layout3-text {
  display: flex;
  min-width: 0; 
  white-space: nowrap; 
  font-size: 14px;
  height: 25px;
  font-weight: bold;
  margin-bottom: 1px;
  text-align: left;
  flex-direction: column; 
}

.layout3-image-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.layout3-icons {
  width: fit-content;
  display: flex;
}

.frame {
  position: relative;
  width: 344px;
  height: 19px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.icon-grid {
  position: relative;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr); 
  margin: 4px 8px 5px 0;
}

.icon {
  flex: 1 1 auto; 
  min-width: 80px; 
  max-width: 105px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 8px; 
  gap: 10px;
  position: relative;
  background: #FFFFFF;
  border: 2px solid #93C296;
  border-radius: 30px;
  color: #9FA1A8;
  text-align: center;
  white-space: nowrap;  
}

.layout3-icons .icon {
  height: 28px;
  min-width: 100px;
  cursor: pointer;
  margin-right: 40px;
}

.layout3-double-set-2 {
  margin-top: 130px;
}
.layout3-double-set-3 {
  margin-top: 120px;
}

.layout3-image {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Center items vertically */
  margin: 10px 0; /* Add spacing between sections */
}

.layout3-image-icon {
  width: 80px; 
  height: auto; 
  margin-right: 10px; 
}

.layout3-right {
  margin: 6px 0 0 10px;
}

.layout3-right h {
  white-space: pre-wrap;
}

.create-button {
  width: 100%;
  height: 40px;
  background-color: #C3C5CB;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 0px;
}

.scroll-container {
  max-height: 850px;
  overflow-y: auto;  
}

.scrollable-list1 {
  display: flex; 
  max-width: 388px;
  overflow-y: hidden; 
  overflow-x: auto; 
  flex-direction: column; 
  gap: 8px; 
  width: 346px;
  padding: 10px;
  scrollbar-width: none;
}

input[type="text"] {
  width: 80%; 
  height: 20px; 
  border-radius: 12px;
  padding: 4px; 
  font-size: 12px; 
  margin-bottom:5px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  background: #FFFFFF;
  border: 1px solid #C3C5CB;
  border-radius: 12px;

}

.layout3 {
  padding: 20px; 
}

.layout3-text-icons-group {
  margin-bottom: 15px; 
}

.category-input-container {
  width: 300px;
  display: flex;
  gap: 50px; 
  margin-top: 5px;
}

