.bell-sidebar {
    position: absolute;
    top: 0;
    left: -200px; 
    width: 200px;
    height: 100%;
    background-color: white; 
    transition: left 0.3s ease;
    z-index: 1000;
}

.bell-sidebar.open {
    left: 0;
    opacity: 1; 
}

.bell-sidebar.closed {
    left: -200px; 
    opacity: 0; 
    display: none; 
}

.bell-sidebar-header {
    background-color: #4C8850; 
    width: 100%;
    height: 73px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.bell-sidebar-close-btn {
    background-color: #4C8850; 
    color: white; 
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    text-align: center; 
}

.bell-sidebar-content {
    width: 200px;
    margin-top: 40px;
    background-color: white; 
}

.bell-sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.bell-sidebar-menu-item {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #888;
}

.bell-sidebar-menu-item:last-child {
    border-bottom: none;
}

.bell-sidebar-menu-item {
    background-color: white; 
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center; 
    font-family: 'Pretendard';
    transition: background-color 0.3s ease;
}

.bell-sidebar-menu-item:hover {
    background-color: #f0f0f0; /* Hover effect */
}
