.bellsidebar {
    display: none; /* 초기 상태에서 표시되지 않음 */
    position: absolute; /* 사이드바를 화면의 상대적인 위치에 배치 */
    top: 0;
    right: -314px; /* 화면 밖에 위치하게 설정 */
    width: 314px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease; /* 슬라이드 애니메이션 */
    z-index: 1000;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 30px 0px 0px 30px;
}

.bellsidebar.open {
    display: block; /* 열리면 표시 */
    right: 0; /* 오른쪽으로 슬라이드 */
}

.bellsidebar.closed {
    right: -314px; /* 닫혔을 때 위치 */
    opacity: 0;
}

.bellsidebar-1 {
    background-color: white;
    width: 200px;
    height: 73px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 55px;
    margin-top: 10px;
    align-items: center;
    color: #686B73;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.bellsidebar-1-btn,
.bellsidebar-alert-btn {
    background-color: #DDDFE3;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 28px;
    border-radius: 10px;
}

.bellsidebar-1-btn.active,
.bellsidebar-alert-btn.active {
    background-color: black;
    color: white;
}

.bellsidebar-2 {
    width: 200px;
    height: 650px;
    margin-left: 40px;
    margin-top: 10px;
}

.bellsidebar ul {
    list-style-type: none;
    padding: 0;
}

.meeting-item {
    width: 70px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #888;
}

.meeting-item:last-child {
    border-bottom: none;
}

.meeting-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.meeting-details {
    flex-grow: 1;
}

.meeting-title {
    margin: 0;
    font-size: 14px;
    width: 150px;
}


.bellsidebar-3-btn {
    margin-bottom: 10px;
    background-color: #DDDFE3;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 28px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.bellsidebar-3-btn:hover {
    background-color: black;
    color: white;
}
