.login-screen {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: #F1F2F3;
}

.login-tag {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 44px;
    padding: 10px 15px 10px 16px;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid;
    border-radius: 30px;
    color: #9FA1A8; 
}


.login-screen input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 330px; 
    height: 44px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;

}


.login-button {
    padding: 8px 16px;
    width: 80%; /* 버튼 너비 조정 */
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.login-button {
    font-family: 'Pretendard';
    background: #1E2024;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 48px;
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;

}


.footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;  
    max-width: 330px;  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #474A52;
    flex: none;
    order: 4;
    flex-grow: 0;

}
.footer-link1{
    width: 69px;
    height: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;

}
.footer-link2{
    width: 69px;
    height: 18px;
    flex: none;
    order: 2;
    flex-grow: 0;
}


.footer-link {
    color: #474A52;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
}
